body {
  overflow: hidden;
  -ms-content-zooming: none;
  -ms-high-contrast-adjust: none;
}
.instruction_text,
.instruction_text_small,
.final_text,
.final_text_small {
  font-family: "Segoe UI Variable";
  font-size: 28pt;
  font-weight: 400;
  text-align: center;
  position: absolute;
  top: 0px;
  left: 0px;
  z-index: 99;
}
.instruction_text_small {
  font-size: 20pt;
  position: absolute;
  z-index: 100;
}
.final_text_small {
  font-size: 20pt;
  position: absolute;
}
#drape {
  z-index: 10000;
}
#playback_canvas,
#playback_canvas_rtl,
#trythislater_overlay_canvas,
.sequence {
  visibility: hidden;
  position: absolute;
}
#end_sequence_canvas,
#pre_end_sequence,
#end_sequence,
#drape,
.fullscreen_color {
  position: absolute;
  top: 0px;
  left: 0px;
}
.scene {
  position: absolute;
}
.scene-part {
  position: absolute;
  left: 0px;
  top: 0px;
}
.final_text {
  position: absolute;
  top: 0px;
  left: 0px;
}
body {
  color: #fff;
  background-color: #000;
}
.asset {
  position: absolute;
  top: 60px;
}
@keyframes circle1Path {
  0% {
    top: 50vh;
    left: 50vw;
    width: 5vw;
    height: 5vw;
    opacity: 0.5;
  }
  50% {
    top: 0vh;
    left: 45vw;
    width: 60vw;
    height: 60vw;
    opacity: 1;
  }
  100% {
    top: 50vh;
    left: 50vw;
    width: 5vw;
    height: 5vw;
    opacity: 0.5;
  }
}
@keyframes circle2Path {
  0% {
    top: 40vh;
    left: 45vw;
    width: 15vw;
    height: 15vw;
  }
  50% {
    top: 37vh;
    left: -10vw;
    width: 80vw;
    height: 80vw;
  }
  100% {
    top: 40vh;
    left: 45vw;
    width: 15vw;
    height: 15vw;
  }
}
@keyframes circle3Path {
  0% {
    top: 30vh;
    left: 30vw;
    width: 25vw;
    height: 25vw;
  }
  50% {
    top: -50vh;
    left: -20vw;
    width: 120vw;
    height: 120vw;
  }
  100% {
    top: 30vh;
    left: 30vw;
    width: 25vw;
    height: 25vw;
  }
}
@keyframes fadeIn {
  0% {
    opacity: 0;
  }
}
@keyframes fadeCircleIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
.circle1 {
  position: absolute;
  animation: circle1Path 15s infinite, fadeCircleIn 1332ms ease-out;
  border-radius: 100vw;
  background: radial-gradient(50% 50% at 50% 50%, rgba(12, 119, 255, 0.3) 15.62%, rgba(12, 119, 255, 0) 100%);
}
.circle2 {
  position: absolute;
  animation: circle2Path 20s infinite, fadeCircleIn 1332ms ease-out;
  border-radius: 100vw;
  background: radial-gradient(50% 50% at 50% 50%, rgba(0, 56, 255, 0.3) 15.62%, rgba(12, 119, 255, 0) 100%);
}
.circle3 {
  position: absolute;
  animation: circle3Path 30s infinite, fadeCircleIn 1332ms ease-out;
  border-radius: 100vw;
  background: radial-gradient(50% 50% at 50% 50%, rgba(65, 56, 210, 0.5) 15.62%, rgba(65, 56, 210, 0) 100%);
}
